{% extends 'partials/base.html' %}
{% load static %}

{% block extrastyles %}
  <link href="{% static 'css/playing.css' %}" rel="stylesheet">
{% endblock %}
{% block content-outer %}
  {#  <body onload="startClock()">#}
  <div class="justify-content-center py-5 px-5">
    <div class="d-flex justify-content-between">
      <span></span>
      <div>
        <button id="submit" type="button" class="btn btn-success">Start Exercise</button>
        <button type="button" class="btn btn-danger">Finish Exercise</button>
      </div>
    </div>

    <div id="instructor-video" class="justify-content-center">
      <canvas id="instructor-input"></canvas>
      <video id="video-input">
        <source id="currentVID" src="{% static 'assets/input.mp4' %}" type="video/mp4">
      </video>
      <span id="status"></span>
      <div id="stats"></div>
    </div>

    <div id="input-video">
      <div class="canvas-wrapper">
        <canvas id="output"></canvas>
        <video id="video" playsinline style="
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          visibility: hidden;
          width: auto;
          height: auto;
          ">
        </video>
      </div>
      <div id="scatter-gl-container"></div>
    </div>
  </div>

{#  <script> document.getElementById('source').play(); </script>#}
  <script src="{% static 'js/stopwatch.js' %}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
  <script src="{% static 'js/tfjs/src.a2b27638.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/tfjs/src.a2b27638.js.map' %}" type="text/javascript"></script>

{% endblock %}
