{% load static statistics %}

{% block content %}

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <!-- 모바일에서 화면배율을 디바이스 크기 기준으로 설정 -->
    <!-- 이게 안되면 pc에서의 100px과 모바일에서의 100px이 디바이스 성능에 따라 달라집니다. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- slick 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">

    <!-- AOS 플러그인 -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- 폰트어썸 불러오기 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="{% static 'css/selection.css' %}" rel="stylesheet">
  </head>
  <body
    style="background-image: url('{% static "img/background.png" %}');  background-repeat: no-repeat;  background-attachment: fixed;
      background-size: 100% 100%;">
  <!-- 중앙 컨텐츠 3차 visual story -->
  <div id="top" class="v-story-wrap con">
    <div class="d-flex justify-content-between px-5">
      <span></span>
      <a class="btn btn-outline-light mt-3" href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="v-story-slider mt-5" data-aos="fade-up">
      {% for object in object_list %}
        <div class="slider-item">
          <a href="{% url 'play' object.pk %}" class="block">
            <div class="img-box block">
              <img src="{{ object.preview.url }}" height="100%" width="1920" alt="" style="border-radius: 12px;">
            </div>
            <div class="discover">
              <span class="block text-white">Start</span>
              <span class="block text-white">Let's Play!</span>
            </div>
          </a>
          <div class="v-story-desc-list">
            {% for star in object.get_star_list %}
              <i class="fas fa-star" style="color: gold"></i>
            {% endfor %}
            <p class="v-story-desc mt-2">{{ object.name }}</p>
            <p class="v-story-desc-tt">Category : {{ object.get_category_display }}</p>
            <p class="v-story-desc-tt">
              Play count: {{ object|get_play_count:user }} |
              Last score: {{ object|get_last_score:user }} |
              Best score: {{ object|get_best_score:user }}
            </p>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
  </body>
  <script src="{% static 'js/selection.js' %}"></script>
{% endblock %}